<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="col s3  hide-on-small-and-down">

            <div class="col s12 ">

                <div class="card-panel">

                    <center>
                        <div class="row">
                            <div class="">
                                <img class="circle"  src="materialize/images/man.png">
                            </div>
                        </div>
                        <strong style="font-size: 20px"> ${sessionScope.user.firstName} ${sessionScope.user.lastName}</strong>

                    </center>

                </div>
            </div>

            <div class=" col s12" >
                <div class="card ">
                    <div class="card-content red-text text-darken-1">
                        <span class="card-title"><i class="material-icons prefix">settings</i>&nbsp Account Settings</span>

                        <div class="card-action" >
                            <a href="account.jsp" >Profile Information</a>
                        </div>
                        <div class="card-action active">
                            <a class="updatepreferences" data-position="top" href="updatepreferences.jsp" >Update Preferences</a>
                        </div>
                        <div class="card-action active">
                            <a class="modal-trigger " data-position="top" href="#changepassword" >Change Password</a>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </body>
</html>
